body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

.hidden {
  display: none;
}

button {
  display: block;
  font-weight: 1700;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  background-color: rgb(242, 247, 241);
  color: black;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #dfefe2;
}

.info-box {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message-box {
  display: block;
  width: 96.5%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  background-color: rgb(242, 247, 241);
  color: black; /* Dark text for readability */
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.message-box:hover {
  background-color: #dfefe2;
}
